html, body {
    background: linear-gradient(to bottom, #00FFFF, #FFFFFF);
    height: 100%;
}

.text-title {
    margin-top: 30px;
    text-align: center;
    color:brown;
}

.todos-input, .todo-list, .delete-button, .input-field {
    margin-left: 15px; 
    margin-top: 10px;;
}

.trash-icon {
    margin-left: 10px;
}